/* font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto:wght@500&display=swap');
/* font */

@import url(../css/header.css);


:root{
    --azul-principal: #005792;
    --azul-secundario:  #00255B;
    --azul-terciario: #2D528B
    

}

/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: unset;
    color: unset;
}
li{
    list-style: none;
}
/* reset */

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: #000;
}
::-webkit-scrollbar-thumb{
    background-color: var(--azul-principal);
    border-radius: 20px;
}

body{
    background-color: #f9f8f8;
}

.center{
    width: 75%;
    margin: 0 auto;
}

.sec1{
    margin: 0 auto;
    width: 826px;
    height: 830px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.sec1 h1{
    font-family:'Roboto Mono', monospace;
    font-size: 35px;
    color: var(--azul-secundario);
}
.sec1 p{
    font-family:'Roboto Mono', monospace;
    font-size: 24px;
    color: var(--azul-terciario);
}
.sec1 .working img{
    width: 100%;
}
.sec1 .working{
    height: 486px;
}

.wrap-sec1{
    height: 830px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.sec2{
    width: 100%;
    height: 446px;
    background-color: var(--azul-principal);
    display: flex;
    align-items: center;
}

.sec2 .wrap-sec2{
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 220px;
    width: 1214px;
    color: #fff;
}

.sec2 .wrap-sec2 h1{
    font-size: 29px;
    font-family: 'Roboto Mono', monospace;
}

.sec2 .wrap-sec2 p{
    font-size: 28px;
    font-family: 'Roboto Mono', monospace;
}

.sec3 .circle{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid var(--azul-principal);
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec3 .circle i{
    font-size: 30px;
    color: var(--azul-principal);
    padding: 10px 12px;
    border-radius: 50px;
}

.sec3 .circle:hover, .sec3 .circle i:hover{
    color: #fff;
    background-color: var(--azul-principal);
}
.sec3{
    height: 184px;
    width: 100%;
    display: flex;
    align-items: center;
}


.sec3 .wrap-sec3{
    display: flex;
    flex-direction: column;
    width: 753px;
    height: 124px;
    text-align: center;
    justify-content: space-around;
    margin: 0 auto;
    border: 1px solid var(--azul-principal);
    border-left: 0px;
    border-right: 0px;
}


.sec3 .wrap-sec3 h1{
    font-family: 'Roboto Mono';
    font-size: 25px;
    font-weight: lighter;
}
.sec3 .wrap-sec3 .redes{
    display: flex;
    width: 170px;
    justify-content: space-between;
    margin: 0 auto;
    
}

.sec4{
    height: 1442px;
}